<div class="orderContainer">
  <h2>Order-Details</h2>

  <mat-card class="summaryCard">
    <div class="summaryHeader">
      <div><strong>Invoice No.:</strong> {{data.id}}</div>
      <mat-chip color="primary" selected>{{data.order_status}}</mat-chip>
    </div>
    <div class="summaryDates">
      <span><strong>Paid on:</strong></span>
      <span><strong>Placed on:</strong>{{convertDate(data.created_at)}}</span>
      <span><strong>Modified on:</strong> {{convertDate(data.updated_at)}}</span>
      <span><strong>Order Duration:</strong></span>
    </div>
    <button mat-flat-button (click)="generateInvoice()" color="primary" class="exportBtn">
      <mat-icon>file_download</mat-icon> Export
    </button>
  </mat-card>

  <div class="detailSection">
    <mat-card class="detailCard">
      <h3><mat-icon>person</mat-icon> Customer Details</h3>
      <p>Name: {{data.customer.name}}</p>
      <p>Phone: {{data.customer.mobile}}</p>
      <p>No of Person: {{data.order_data.number_of_persons}}</p>
      <p>Email: {{data.customer.email}}</p>
    </mat-card>

    <mat-card class="detailCard">
      <h3><mat-icon>table_restaurant</mat-icon> Table Details</h3>
      <p>
        Table:
        <span *ngFor="let table of orderData.table_names">{{table}} </span>
      </p>
      <p>Section:
        <span>{{orderData.section_name}} </span>
      </p>
    </mat-card>
  </div>


  <mat-card class="itemsCard">
    <h3>Order Items</h3>

    <table class="itemTable">
      <thead>
        <tr>
          <th class="serial">Sr. No.</th>
          <th class="itemName">Item</th>
          <th class="itemQuantity">Quantity</th>
          <th class="itemPrice">Price</th>
          <th class="itemAmount">Amount</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of orderData.items">
        <tr class="itemRow">
          <td class="serial">1</td>
          <td class="itemName"><strong>{{item.item_name}}</strong></td>
          <td class="itemQuantity">{{item.multiplier}}</td>
          <td class="itemPrice">{{item.item_rate}}</td>
          <td class="itemAmount">{{calculateItemAmount(item)}}</td>
        </tr>
        <tr *ngFor="let modifier of item.modifiers" class="modifierRow">
          <td></td>
          <td class="modifierName">• {{modifier.modifier_name}}</td>
          <td class="modifierQuantity">{{item.multiplier}}</td>
          <td class="modifierPrice">{{modifier.modifier_rate}}</td>
          <td class="modifierAmount">{{calculateModifierTotal(modifier, item.multiplier)}}</td>
        </tr>
      </tbody>
    </table>

    <div class="totals">
      <p class="taxEntry"><strong>Subtotal:</strong> ₹{{orderData.subTotal}}</p>
      <!-- {{orderData.taxes | keyvalue}} -->
      <p  class="taxEntry" *ngFor="let tax of  taxData"><strong>{{tax[0]}}:</strong> ₹{{tax[1]}}</p>

      <!-- <p><strong>Other:</strong> ₹19.95</p> -->
      <h3 class="totalAmount"><strong>Total:</strong> ₹{{totalRoundOff(orderData.total)}}</h3>
    </div>
  </mat-card>
</div>