.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 35px 15px 35px;
}

.title{
  font-weight: 800;
  font-size: 30px;
}

.clickable{
  cursor: pointer;
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
}

.noBullets{
  list-style-type: none;
  padding-left: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

.selected{
  border-width: 2px;
  border-style: solid;
  border-color: greenyellow;
}

.available, .Available{
  background-color: gray;
}

.assigned, .Assigned{
  background-color: rgb(135, 189, 53);
}

.running, .Running{
  background-color: skyblue;
}

.bottomMargin{
  margin-bottom: auto;
}

.accordion{
  margin: 5px;
}

.expansionPanel{
  margin-left: 30px;
  margin-right: 30px;
}

.status{
  margin-top: 6px;
  margin-bottom: auto;
  float: right;
  align-items: center;
}

.statusContainer{
  justify-content : end;
}

.tableCard{
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  height: 200px;
  max-width: 400px;
  flex: 1 1 300px; /* Makes it responsive */
  padding-bottom: 20px;
}

.tableCardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.assignButton{
  float: right;
}

.body{
  height: 100vh ;
  width: 100vw;
}


.drawer{
  width: 500px;
  overflow-y: auto;
}

.itemDetailInput{
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

.customerDataButtons{
  margin-left: 20px;
}
.customerDataButtons button{
  margin: 10px;
}

.customerDataFormTitle{
  margin: 20px;
}

.foundRecords{
  width: inherit;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.foundCustomer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.customerName{
  position: absolute;
  left: 4px;
}

.customerEmail{
  position: absolute;
  right: 20px;
}

mat-drawer-content{
  padding: 20px;
}

.waitingTokenBtn{
  padding-left: 2px;
  padding-right: 10px;
  margin-left: 30px;
  z-index: 1;

  mat-icon{
    padding-right: 30px;
    padding-left: 5px;
  }
}

.titlebarDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;
  padding-left: 20px;
}
