<div class="titlebar">
  <span class="title">Orders</span>
  <div>
    <form [formGroup]="searchData">
      <mat-form-field class="filterInput" appearance="outline">
        <mat-label>Filter by Date</mat-label>
        <mat-date-range-input [rangePicker]="filterDate">
          <input
            matStartDate
            [min]="minDate"
            [max]="maxDate"
            placeholder="Start date"
            formControlName="startDate"
          />
          <input
            matEndDate
            [max]="maxDate"
            placeholder="End date"
            formControlName="endDate"
          />
        </mat-date-range-input>
        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle
          matSuffix
          [for]="filterDate"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #filterDate></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="filterInput">
        <mat-label>Status</mat-label>
        <mat-select value="0" formControlName="status">
          <mat-option value="0"> All </mat-option>
          <mat-option *ngFor="let status of status" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          class=""
          matInput
          placeholder="Order ID"
          #Search
          type="number"
          formControlName="search"
        />
        <button
          *ngIf="Search.value"
          (click)="Search.value = ''; resetData()"
          matSuffix
          mat-icon-button
          aria-label="Clear"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        class="exportButton"
        (click)="filterOrders(Search.value)"
        [disabled]="!searchData.valid"
        type="button"
      >
        Filter
      </button>

      <button
        mat-raised-button
        class="exportButton"
        (click)="exportOrders(searchData.value)"
        type="button"
        [disabled]="nodata && searchData"
      >
        Export
      </button>
    </form>
  </div>
</div>

<mat-card class="m-4 matCardBody">
  <div *ngIf="nodata" class="noDataBanner">
    <h4>No Data Found</h4>
  </div>
  <table
    *ngIf="!nodata"
    mat-table
    [dataSource]="viewOrderData!"
    class="mat-elevation-z8 orderData"
  >
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- {
                "0": {
                  "id": 1,
                  "customer_id": 2,
                  "status": "Ordered",
                  "isServed": 0,
                  "order_data": "{\"items\":[{\"item_id\":1,\"item_name\":\"Margherita\",\"item_rate\":560.88,\"modifiers\":[]}],\"taxes\":{\"GST\":100.8,\"SGST\":100.8,\"CGST\":0,\"Service charges\":230},\"subTotal\":560,\"total\":991.6}",
                  "amount": 992,
                  "rating": "1",
                  "comment": null,
                  "deleted_at": null,
                  "created_at": "2025-04-08T08:57:36.000000Z",
                  "updated_at": "2025-04-08T08:57:36.000000Z",
                  "payment_mode": null,
                  "customer": {
                    "id": 2,
                    "mobile": "9477384958",
                    "email": "user@user.com",
                    "name": "harmti",
                    "created_at": "2025-04-07T09:06:33.000000Z",
                    "updated_at": "2025-04-07T09:06:33.000000Z",
                    "deleted_at": null
                  }
                }
              } -->

    <!-- Name Column -->
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>Order</th>
      <td mat-cell *matCellDef="let order"># {{ order.id }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let order">
        {{ convertDate(order.created_at) }}
      </td>
    </ng-container>

    <!-- order Amount Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let order">{{ order.customer.name }}</td>
    </ng-container>

    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef>Order Status</th>
      <td mat-cell *matCellDef="let order">{{ order.order_status }}</td>
    </ng-container>

    <ng-container matColumnDef="paymentStatus">
      <th mat-header-cell *matHeaderCellDef>Payment Status</th>
      <td mat-cell *matCellDef="let order">{{ order.payment_status }}</td>
    </ng-container>

    <ng-container matColumnDef="payment_mode">
      <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
      <td mat-cell *matCellDef="let order">
        {{ order.payment_mode ? order.payment_mode : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let order">
        <ng-container *ngFor="let star of Ratings; let i = index">
          <span [class.filled]="i + 1 <= getOrderRating(order.rating)">
            &#9733;
          </span>
        </ng-container>
      </td>
      <!-- {{getRating(order.rating)}} -->
    </ng-container>

    <ng-container matColumnDef="total_amount">
      <th mat-header-cell *matHeaderCellDef>Total Amount</th>
      <td mat-cell *matCellDef="let order">{{ order.bill_amount }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="actionIconContainer" mat-cell *matCellDef="let order">
        <mat-icon
          class="actionIcon"
          mat-icon-button
          (click)="viewOrderDetail(order)"
          >remove_red_eye</mat-icon
        >
        <!-- <mat-icon class="actionIcon">picture_as_pdf</mat-icon> -->
        <mat-icon
          mat-icon-button
          *ngIf="order.order_status != 'Completed'"
          (click)="completeOrder(order.id)"
          class="actionIcon"
          >assignment_turned_in</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <app-paginator
    class="paginator"
    [length]="resultsLength"
    (pageChange)="onPageChange($event)"
    [pageSize]="pagesize"
    [hidden]="nodata"
    #paginator
  ></app-paginator>
  <!-- <mat-paginator [length]="resultsLength" (page)="onPageChange($event)" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pagesize" aria-label="Select Page"></mat-paginator> -->

  <!-- fixes for printing -->
  <div id="print-container" style="display: none"></div>
</mat-card>
