.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}


.title{
  margin-left: 10px;
}

.profile-card{
  margin: 15px;
  padding: 10px;
}

.avatar{
  height: 100px;
  width: 100px;
}

.email{
  position: absolute;
  top: 15px;
  right: 15px;
}

.form-row{
  display: flex;

  mat-form-field{
    flex-grow: 1;
    margin: 5px;
  }
}

.form-actions{
  display: flex;
  justify-content: end;
  margin: 10px;

  button{
    margin: 5px;
  }
}