<form [formGroup]="modifierGroupForm">
    <div mat-dialog-content>
        <p>Add Modifier Group Details</p>
        <mat-form-field appearance="outline">
            <mat-label>Modifier Name</mat-label>
            <input matInput [formControl]="name" [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Modifier Description</mat-label>
            <input matInput [formControl]="description" [(ngModel)]="data.description">
        </mat-form-field>

        <div *ngFor="let modifier of data.containedModifierList">
            <input type="checkbox" value="true" (change)="onChange(modifier.id, $event.target)"
                [checked]="isChecked(modifier.id)">
            <span>{{modifier.name}}</span>
        </div>


        <!-- <section formGroupName="modifiersForm" class="example-section">
            <h4>Select modifiers:</h4>
            <p *ngFor="let modifier of data.containedModifierList">
                <mat-checkbox [value]="modifier.name" [formControl]="modifier.name">{{modifier.name}}</mat-checkbox>
            </p>
        </section> -->

        <!-- <checkbox-group [(ngModel)]="selectedItems">
            <checkbox  *ngFor="let modifier of data.containedModifierList" value="item1">Item 1</checkbox>
        </checkbox-group> -->


    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" [disabled]="!modifierGroupForm.valid" [mat-dialog-close]="data"
            cdkFocusInitial>Ok</button>
        <!-- <button (click)="printdata()"></button> -->
    </div>
</form>