<form [formGroup]="modifierGroupForm">
    <div mat-dialog-content>
        <p>Add Modifier Group Details</p>
        <mat-form-field appearance="outline">
            <mat-label>Modifier Name</mat-label>
            <input matInput [formControl]="name" [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Modifier Description</mat-label>
            <input matInput [formControl]="description" [(ngModel)]="data.description">
        </mat-form-field>


    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-button type="submit" [disabled]="!modifierGroupForm.valid" [mat-dialog-close]="data"
            cdkFocusInitial>Ok</button>
        <!-- <button (click)="printdata()"></button> -->
    </div>
</form>