<form [formGroup]="dataForm">
  <div mat-dialog-content>
    <p>Category Details</p>
    <mat-form-field appearance="outline">
      <mat-label>Category Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="submit" (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      type="button"
      [mat-dialog-close]="dataForm.value"
      cdkFocusInitial
      [disabled]="!dataForm.valid"
    >
      Save
    </button>
  </div>
</form>
