<div class="titlebar">
  <span>Menu</span>
</div>

<div class="menuCard">
  <mat-tab-group class="matTab">
    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <mat-icon class="itemsTabIcon">menu</mat-icon>
        <span class="tabName">Modifiers</span>
      </ng-template>
      <app-modifier 
      [modifierGroupData]="modifierGroupData"
      [allModifiers]="allModifiers"
      [viewModifiers]="allModifiers"></app-modifier>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label class="tab">
        <mat-icon class="itemsTabIcon">menu</mat-icon>
        <span class="tabName">Items</span>
      </ng-template>
      <app-item-category
        [categoryData]="categoryData"
        [allItems]="allItems"
        [viewItems]="allItems"
        (refreshCategoryData)="refreshCategoryData($event)"
      ></app-item-category>
    </mat-tab>
  </mat-tab-group>
</div>
