<div class="container">
    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="forgotPasswordForm">

        <div class="branding">
            <img class="brandLogo" [src]="brandLogo">
            <span class="brand">PIZZASHOP</span>
        </div>

        <!-- 
        <div class="inputContainer">
            <input formControlName="email" placeholder="Email">
            <span class="emailError"></span>
        </div> -->

        <div class="inputContainer">
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>



        <div class="actions">
            <button type="submit" id="send" [disabled]="!forgotPassword.valid">
                Send
            </button>
            <a (onClick)="redirect()" href="{{login}}">Back to Login</a>
        </div>
    </form>
</div>