.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionList ul {
  padding: 0px;
  margin-right: 15px;
}

.hiddenIcon {
  visibility: hidden;
}

.sectionButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-right: 15px;
}

.sectionButton:hover .hiddenIcon {
  visibility: visible;
}

.editSectionDialogInput {
  width: 100%;
}
