.loginBody {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: skyblue;
  display: inline;
}

.loginContainer {
  float: right;
  height: 100vh;
  width: 50%;
  margin: 0%;
  background-color: #87ceeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .loginBanner {
    display: none;
  }

  .loginContainer {
    width: 100vw;
  }
}

.branding {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.brand {
  font-size: 40px;
  font-weight: 400;
  color: #0c60a4;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

.brandLogo {
  height: 70px;
  width: auto;
  display: inline;
  margin-right: 30px;
}

.greeting {
  float: left;
  font-weight: bolder;
  width: 60%;
  margin-left: 13px;
  font-size: 30px;
  margin-bottom: 10px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.loginForm input {
  width: 100%;
  font-size: 20px;
}

.checkbox {
  height: 30px !important;
  float: left;
  width: 10% !important;
  margin-right: 3px;
}
.additionalText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  width: -webkit-fill-available;
}

.linkSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rememberMe {
  display: flex;
  flex-direction: row;
  float: left;
}

.forgotPassword {
  float: right;
}

#login {
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #0c60a4;
  color: white;
  border-radius: 10px;
  border: none;
}

#login:disabled {
  background-color: grey;
}

mat-form-field {
  width: 100%;
  // margin-bottom: 20px;
}
mat-input {
  height: 20px;
}

mat-error {
  // height
}

ngb-alert {
  position: fixed;
  top: 10px;
  right: 10px;
}
