<mat-drawer-container class="">
  <mat-drawer #nav mode="side" opened>
    <div class="branding">
      <img class="brandLogo" [src]="brandLogo" />
      <span class="brand">PIZZASHOP</span>
    </div>

    <mat-list>
      <mat-list>
        <ng-container *ngFor="let item of sideBarItems">
          <mat-list-item *ngIf="item.role.includes(role!)">
            <button
              mat-button
              [class.selected]="isSelected(item.redirect)"
              [id]="'id-' + item.redirect"
              (click)="loadComponent(item.redirect)"
              class="navItem"
              [routerLink]="item.redirect"
            >
              <mat-icon matListIcon>{{ item.icon }}</mat-icon>
              {{ item.title }}
            </button>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <!-- <mat-list-item *ngFor="let item of sideBarItems" class="{{item.role.includes(role)?'':'forbidden'}}">
        <button
          mat-button
          [class.selected]="isSelected(item.redirect)"
          id="item.redirect"
          (click)="loadComponent(item.redirect)"
          class="navItem"
          routerLink="{{ item.redirect }}"
        >
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          {{ item.title }}
        </button>
      </mat-list-item> -->
      <!-- <mat-list-item
        *ngFor="let item of sideBarItems"
        (click)="loadComponent(item.redirect)"
      >
        <button
          mat-button
          *ngIf="item.role.includes(role!)"
          [class.selected]="isSelected(item.redirect)"
          id="item.redirect"
          (click)="addClass()"
          class="navItem"
          routerLink="{{ item.redirect }}"
        >
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          {{ item.title }}
        </button>
      <a routerLink="{{item.redirect}}">
                    <mat-icon matListIcon>{{item.icon}}</mat-icon>
                </a>
                <p matLine>
                    <span> {{item.title}} </span>
                </p> -->
      <!-- </mat-list-item>  -->
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <!-- <a routerLink="/" (click)="logout()">logout</a> -->
    <header></header>
    <nav>
      <div class="profile">
        <img
          [src]="profile"
          class="profilePicture clickable"
          [matMenuTriggerFor]="menu"
        />
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="loadUserData()">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
          </button>
          <button
            mat-menu-item
            (click)="redirect('pizzashop/profile-password')"
          >
            <mat-icon>refresh</mat-icon>
            <span>Change Password</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
      <div>
        <button mat-button (click)="openOrderApp()">
          <mat-icon> phone_android </mat-icon>
        </button>
      </div>
      <mat-icon mat-button class="clickable navtoggle" (click)="nav.toggle()"
        >menu</mat-icon
      >
    </nav>
    <router-outlet></router-outlet>
    <!-- <app-menu></app-menu> -->
  </mat-drawer-content>
</mat-drawer-container>
