.modifier{
  width: 160px;
  margin: 4px;
}

.bottom{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  position: relative;
  bottom: 0;
}

.productName {
  font-weight: 500;
  margin-bottom: 4px;
}

.productPrice {
  font-size: 13px;
  color: #dddcdc;
}

.modifierContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.selected{
  background-color: skyblue;
  color: black;

  .productPrice{
    color: black;
  }
}