<mat-drawer-container class="menuContainer">
  <mat-drawer mode="side" opened class="sidenav">
    <h4 class="navHeader">Categories</h4>
    <ul class="noBullets">
      <!-- <li class="itemCategoryContainer">
        <button class="itemCategory" id="favItem" mat-button>Favourite Items</button>
      </li> -->
      <li class="itemCategoryContainer">
        <button
          mat-raised-button
          (click)="loadItems(0)"
          class="itemCategory"
          [color]="0 == currentCategory ? 'accent' : 'none'"
          id="0"
        >
          All
        </button>
      </li>
      <li *ngFor="let category of categoryData" class="itemCategoryContainer">
        <button
          mat-raised-button
          [color]="category.id == currentCategory ? 'accent' : 'none'"
          class="itemCategory"
          id="{{ category.id }}"
          (click)="loadItems(category.id)"
        >
          {{ category.name }}
        </button>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content class="drawerBody">
    <div class="menu">
      <div class="itemsHeader">
        <h3 class="itemsTitle">Items</h3>
        <ul class="noBullets horizontal">
          <li><span class="green dot"></span>Vegetarian</li>
          <li><span class="red dot"></span>Non-Vegetarian</li>
          <li><span class="orange dot"></span>Vegan</li>
        </ul>
      </div>
      <div class="itemsContainer">
        <div *ngIf="viewItemData.length == 0" class="noItemBanner">
          <span>No Items</span>
        </div>
        <mat-card
          class="item"
          *ngFor="let item of viewItemData"
          (click)="addModifierPopup(item.id)"
        >
          <div class="ribbon-corner {{ item.item_type }}"></div>
          <img

            class="itemImage"
            src="{{item.image ? 'http://127.0.0.1:8000/storage/uploads/' + item.image : '../../../assets/dining-menu.png'}}"
          />
          <div class="food-details">
            <h6>
              {{ item.name }}
            </h6>
            <p class="price">₹{{getItemAmount(item)}}</p>
          </div>
          <mat-icon mat-icon-button (click)="addFavourite()" class="wishlist"
            >favorite_border</mat-icon
          >
        </mat-card>
      </div>
    </div>

    <mat-card class="billingContainer">
      <div class="tableDetails">
        <strong>{{ orderData.section }}</strong>
        <div>
          <strong
            >Table:<span *ngFor="let table_name of orderData.table_names"
              >{{table_name}}
            </span>
          </strong>
        </div>
      </div>

      <div class="headerRow">
        <span>Item</span>
        <span>Quantity</span>
        <span>Amount</span>
      </div>



<!--
      [
  {
    "item_id": 3,
    "item_name": "Veg Sandwich",
    "item_rate": 150,
    "modifiers": []
  },
  {
    "item_id": 5,
    "item_name": "Tandoori Burger",
    "item_rate": 450,
    "modifiers": [
      {
        "modifier_id": 1,
        "modifier_name": "Small",
        "modifier_rate": 100
      }
    ]
  }
] -->

      <div class="scrollableContainer">
        <div *ngIf="items.length == 0" class="noBillItem">
          <span>No Items</span>
        </div>
        <mat-card *ngFor="let item of items" class="itemCard">
          <div class="itemHeader">
            <div class="itemName">
              <mat-icon>expand_more</mat-icon> <strong>{{item.item_name}}</strong>
            </div>
            <div class="quantityControl">
              <!-- <button mat-icon-button>-</button> -->
              <span>1</span>
              <!-- <button mat-icon-button>+</button> -->
            </div>
            <!-- <mat-icon class="deleteIcon">delete</mat-icon> -->
            <div class="itemAmount">₹{{item.item_rate}}</div>
          </div>

          <div class="itemExtras"><ul>
            <li *ngFor="let modifier of item.modifiers" class="modifierInBill">
              <span>{{modifier.modifier_name}}</span>
              <span class="modifierPrice">{{modifier.modifier_rate}}</span></li>
          </ul></div>
        </mat-card>
      </div>
      <!-- Summary -->
      <div class="summarySection">
        <div class="summaryRow"><span>SubTotal</span><span>₹{{billAmount}}</span></div>
        <div *ngFor="let tax of taxData" class="summaryRow"><span>{{tax.name}}</span><span>₹{{calculateTax(tax, billAmount)}}</span></div>


        <!-- <mat-checkbox class="summaryCheckbox">SGST</mat-checkbox> -->

        <div class="totalRow">
          <strong>Total</strong><strong>₹{{calculateTotal()}}</strong>
        </div>

        <!-- <div class="paymentMethod">
          <span>Payment Method</span>
          <mat-radio-group class="checkboxContainer">
            <mat-radio-button class="checkbox" value="cash">Cash</mat-radio-button>
            <mat-radio-button class="checkbox" value="card">Card</mat-radio-button>
            <mat-radio-button class="checkbox" value="upi">UPI</mat-radio-button>
          </mat-radio-group>
        </div> -->

        <div class="actionButtons">
          <button mat-flat-button [color]="items.length == 0 ? '' : 'primary'" [disabled]="items.length == 0" (click)="generateOrder()">Save</button>
          <button mat-stroked-button (click)="completeOrder()">Complete</button>
          <!-- <button mat-stroked-button>Generate Invoice</button> -->
          <button mat-stroked-button color="warn" (click)="cancelOrder()">Cancel</button>
        </div>
      </div>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
