.body{
  height: 100%;
  width: 100%;
}

.rolesList{
  margin: 10px;
  margin-left: 20px;
}

.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}


.title{
  margin-left: 10px;
}