.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}

.actionHeader {
  width: 16%;
}

.actionButton {
  width: 10px !important;
}
