.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}
.actionHeader {
  width: 16%;
}

.actionButton {
  width: 10px !important;
}

.search {
  height: 20px;
  font-size: 15px;
  width: 200px;
  margin-right: 20px;
}

.matCardBody{
  height: fit-content;
  min-height:600px;
}

.userDetailInput {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.form-row {
  display: flex;

  mat-form-field {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.form-actions {
  display: flex;
  justify-content: end;
  margin: 10px;

  button {
    margin: 5px;
  }
}

.noDataBanner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
