.loginBanner {
  width: 50vw;
  float: left;
  background-image: url("../../../../assets/loginBanner.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .loginBanner {
    display: none;
  }
}

.loginBody {
  height: 100%;
  width: 100%;
  // display: flex;
  // flex-direction: row;
}

// .loginComponent{
//   width: 50vw;
//   float: right;
// }
