.branding {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.brand {
  font-size: 40px;
  font-weight: 400;
  color: #0c60a4;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

.brandLogo {
  height: 70px;
  width: auto;
  display: inline;
  margin-right: 30px;
}

.container {
  height: 100vh;
  width: 50%;
  margin: 0%;
  background-color: #87ceeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
  }
}

.inputContainer {
  margin-bottom: 10px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

#send {
  height: 50px;
  width: 100%;
  background-color: #0c60a4;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}

#send:disabled {
  background-color: grey;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forgotPasswordForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
