
.body {
  width: 100%;
}

.passwordForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordInput {
  width: 80%;
}

.error {
  margin-left: 12px;
  text-wrap-mode: nowrap;
}

.right{
width: 100%;
padding-right: 10%;
  button{
    margin: 5px;
    float: right;
  }
}

.submitBtn{
  background-color: #0c60a4;

  :disabled{
    background-color: grey;
  }
}

.container{
  height: 100vh;
  width: 50%;
  margin:0%;
  background-color: #87CEEB ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.branding{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.brand{
  font-size: 40px;
  font-weight: 400;
  color: #0c60a4;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

.brandLogo{
  height: 70px;
  width: auto;
  display: inline;
  margin-right: 30px;
}

.instruct{
  width: 80%;
  display: flex;
  justify-content: start;
  margin: 10px;
  padding-left: 4%;
}
