<h3 class="heading">Modifier Groups</h3>
<button class="addButton" mat-flat-button type="button" (click)="openAddDialog()"> Add Modifier Group</button>


<!-- <div *ngFor="let modifierGroup of modifierGroupList">
    {{modifierGroup.name}}

    <button type="button" (click)="openDialog(modifierGroup.id)">edit</button>
    <button type="button" (click)="openDeleteDialog(modifierGroup.id)">delete</button>

</div> -->

<table mat-table [dataSource]="modifierGroupList" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>



    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="modifiers">
      <th mat-header-cell *matHeaderCellDef> Modifiers </th>
      <td mat-cell *matCellDef="let element"><span *ngFor="let modifier of element.modifiers">{{modifier.name}}, </span></td>
  </ng-container>




    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="" (click)="editPopup(element)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="" (click)="openDeleteDialog(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
