<h1 mat-dialog-title>Order Details</h1>
<mat-dialog-content>
  <div class="orderContainer">
    <h2>Order-Details</h2>

    <mat-card class="summaryCard">
      <div class="summaryHeader">
        <div><strong>Invoice No.:</strong> {{data.id}}</div>
        <mat-chip color="primary" selected>{{data.order_status}}</mat-chip>
      </div>
      <div class="summaryDates">
        <span><strong>Paid on:</strong></span>
        <span><strong>Placed on:</strong>{{data.created_at}}</span>
        <span><strong>Modified on:</strong> {{data.updated_at}}</span>
        <span><strong>Order Duration:</strong></span>
      </div>
      <button mat-flat-button color="primary" class="exportBtn">
        <mat-icon>file_download</mat-icon> Export
      </button>
    </mat-card>

    <div class="detailSection">
      <mat-card class="detailCard">
        <h3><mat-icon>person</mat-icon> Customer Details</h3>
        <p>Name: {{data.customer.name}}</p>
        <p>Phone: {{data.customer.mobile}}</p>
        <p>No of Person: {{data.customer.number_of_persons}}</p>
        <p>Email: {{data.customer.email}}</p>
      </mat-card>

      <mat-card class="detailCard">
        <h3><mat-icon>table_restaurant</mat-icon> Table Details</h3>
        <p>Table: <span *ngFor="let table_name of orderData.order_data.tables">table_name</span></p>
        <p>Section: {{orderData.section_name}}</p>
      </mat-card>
    </div>


    <mat-card class="itemsCard">
      <h3>Order Items</h3>

      <table class="itemTable">
        <thead>
          <tr>
            <th class="serial">Sr. No.</th>
            <th class="itemName">Item</th>
            <th class="itemQuantity">Quantity</th>
            <th class="itemPrice">Price</th>
            <th class="itemAmount">Amount</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of orderData.items">
          <tr class="itemRow">
            <td class="serial">{{counter()}}</td>
            <td class="itemName"><strong>{{item.item_name}}</strong></td>
            <td class="itemQuantity">1</td>
            <td class="itemPrice">70.00</td>
            <td class="itemAmount">70.00</td>
          </tr>
          <tr *ngFor="let modifier of item.modifiers" class="modifierRow">
            <td></td>
            <td class="modifierName">• {{modifier.modifier_name}}</td>
            <td class="modifierQuantity">1</td>
            <td class="modifierPrice">5.00</td>
            <td class="modifierAmount">5.00</td>
          </tr>
        </tbody>
      </table>

      <div class="totals">
        <p><strong>Subtotal:</strong> ₹399.00</p>
        <p><strong>CGST:</strong> ₹47.88</p>
        <p><strong>SGST:</strong> ₹150.00</p>
        <p><strong>GST:</strong> ₹7.98</p>
        <p><strong>Other:</strong> ₹19.95</p>
        <h3><strong>Total:</strong> ₹624.81</h3>
      </div>
    </mat-card>
  </div>
</mat-dialog-content>
<div mat-dialog-actions class="right">
  <button mat-button (click)="onCancel()">Close</button>
</div>



