.orderContainer {
  padding: 24px;
}

.summaryCard {
  padding: 16px;
  position: relative;
}

.summaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summaryDates {
  display: flex;
  gap: 20px;
  margin: 12px 0;
  flex-wrap: wrap;
}

.exportBtn {
  position: absolute;
  right: 16px;
  top: 16px;
}

.detailSection {
  display: flex;
  gap: 16px;
  margin: 20px 0;
}

.detailCard {
  flex: 1;
  padding: 16px;
}

.itemsCard {
  padding: 16px;
}

.modifiers {
  padding-left: 16px;
  margin: 4px 0;
}

.totals {
  text-align: right;
  margin-top: 16px;
}

.actionButtons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 12px;
}



.right{
  display: flex;
  flex-direction: row-reverse;
}

.table{
  width: 100%;
  // background-color: grey;
}