.cardHeader {
  display: flex;
  align-items: start;
  justify-content: end;
}

.cardBody {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}
.topRightImage {
  border-radius: 50px;
  border: solid 3px;
  height: 100px;
  width: 100px;
}
.mainData {
  font-size: 70px;
  font-weight: 500;
}
.secondaryData {
  font-size: 30px;
  font-weight: 300;
}
