.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 30px;
}

.search {
  height: 30px;
  font-size: 16px;
  width: 400px;
  margin-right: 20px;
}

.orderData{
  width: 100%;
}

.actionIconContainer{
  display: flex;
  align-items: center;
  height: inherit;
  cursor: pointer;
}

.actionIcon{
  margin-right: 20px;
}



// fixes for printing invoice

#print-container {
  padding: 24px;
  background: #eee;
}

.search {
  font-size: 16px;
  width: 400px;
  margin-right: 20px;
  padding-top: 15px;
}

.noDataBanner{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 