

mat-drawer-container{
    height: 100vh;
}

mat-drawer{
    width: 270px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.brandLogo{
    margin-right: 12px;
    margin-left: 12px;
    width:40%;
    height: auto;
}

.branding{
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 100px;
}

.brand{
    font-size: 20px;
}

.navItem{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}


nav{
  height: 8vh;
  background-color: skyblue;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.profile{
  float: right;
  margin-right: 15px;
  height: 5vh;
}

.profilePicture{
  height: 100%;
}

.clickable{
cursor: pointer;
}

.navtoggle{
  position: absolute;
  left: 18px;
}

.selected{
  background-color: skyblue;
  color: black;
}

.forbidden{
display: none;
}

