<div class="container">

  <div class="branding">
    <img class="brandLogo" [src]="brandLogo">
    <span class="brand"><strong>
      PIZZASHOP
    </strong></span>
</div>
 <div class="instruct">Reset your password</div>
  <form
      [formGroup]="passwordData"
      class="passwordForm"
    >

      <mat-form-field class="passwordInput" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          required
          #newPassword
          type="password"
        />
      </mat-form-field>


      <mat-form-field class="passwordInput" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          required
          type="password"
        />
        <mat-error *ngIf="passwordData.get('confirmPassword')?.hasError('passwordMismatch')">
          New password and confirm password must match
        </mat-error>
      </mat-form-field>

      <div class="right">
        <button mat-flat-button class="submitBtn" type="submit" [disabled]="!passwordData.valid" (click)="changePassword(passwordData.value)">
          Submit
        </button>
        <button
          mat-stroked-button
          type="button"
          (click)="redirect('login')"
        >
          Cancel
        </button>

      </div>
    </form>
</div>