<h3>
    Dashboard
</h3>
<mat-card>
    <div class="col">

        <mat-card><simple-card [data]="cardOneData"></simple-card></mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
    </div>
    <div class="col2">
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
    </div>
    <div class="col">
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
        <mat-card>Simple card</mat-card>
    </div>
</mat-card>