.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}

.menuCard {
  margin-left: 15px;
  margin-right: 15px;
  background-color: gray;
  border-radius: 3px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemsTabIcon {
  margin: 5px;
}
.tabName {
  display: flex;
  align-items: center;
}

.categoryList {
  width: 20%;
}

.menuContainer {
  height: 100%;
}
