nav{
    height: 8vh;
    background-color: skyblue;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.profile{
    float: right;
    margin-right: 15px;
    height: 5vh;
}

.profilePicture{
    height: 100%;
}

.clickable{
  cursor: pointer;
}