<h4 mat-dialog-title>{{ data.title }}</h4>
<form class="profile-form" [formGroup]="userForm">
  <div class="form-row">
    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name" />
      <mat-error>{{getFirstNameError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name" />
      <mat-error>{{getLastNameError()}}</mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="username" />
      <mat-error>{{getUsernameError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error>{{getEmailError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" class=""  type="number" />
      <mat-error>{{getPhoneError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="1">Admin</mat-option>
        <mat-option value="2">Account Manager</mat-option>
        <mat-option value="3">Chef</mat-option>
      </mat-select>
      <mat-error class="error">{{getRoleError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="full-width userDetailInput">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error>{{getAddressError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Zipcode</mat-label>
      <input matInput formControlName="zipcode" type="number" />
      <mat-error>{{getZipcodeError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" />
      <mat-error>{{getCountryError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" />
      <mat-error>{{getStateError()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
      <mat-error>{{getCityError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row" [hidden]="!passwords">
    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />

    </mat-form-field>

    <mat-form-field appearance="outline" class="userDetailInput">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" type="password" />
      <mat-error *ngIf="userForm.controls.confirmPassword.invalid">
        {{ getConfirmPasswordError() }}
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="form-actions">
    <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      type="submit"
      [disabled]="userForm.invalid"
      [mat-dialog-close]="userForm.value"
      cdkFocusInitial
    >
      Save
    </button>
    <!-- <button (click)="printdata()"></button> -->
  </div>
</form>
