<div class="titlebar">
  <span class="title">Customers</span>
  <div>
    <form [formGroup]="searchForm">
      <mat-form-field class="search" appearance="outline">
        <mat-label>Filter by Date</mat-label>
        <mat-date-range-input [rangePicker]="filterDate">
          <input
            matStartDate
            [min]="minDate"
            [max]="maxDate"
            placeholder="Start date"
            formControlName="startDate"
          />
          <input
            matEndDate
            [max]="maxDate"
            placeholder="End date"
            formControlName="endDate"
          />
        </mat-date-range-input>
        <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle
          matSuffix
          [for]="filterDate"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #filterDate></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="search" appearance="outline">
        <mat-label>Search</mat-label>
        <input
          class=""
          formControlName="search"
          matInput
          placeholder="Search"
          #userSearch
        />

        <button
          *ngIf="userSearch.value"
          (click)="userSearch.value = ''; resetSearch()"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        class="exportButton"
        (click)="searchCustomer(searchForm.value)"
        type="button"
      >
        Filter
      </button>

      <button
        mat-raised-button
        class="exportButton"
        (click)="exportCustomers(searchForm.value)"
        type="button"
        [disabled]="nodata"
      >
        Export
      </button>
    </form>
  </div>
</div>

<mat-card class="m-4 matCardBody">
  <div *ngIf="nodata" class="noDataBanner">
    <h4>No Data Found</h4>
  </div>
  <table
    *ngIf="!nodata"
    mat-table
    [dataSource]="viewCustomerList"
    class="mat-elevation-z8 customerData"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let customer">{{ customer.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let customer">{{ customer.mobile }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.created_at | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalOrders">
      <th mat-header-cell *matHeaderCellDef>Total Orders</th>
      <td mat-cell *matCellDef="let customer">56</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let customer; columns: displayedColumns"
      (click)="customerDataPopup(customer)"
    ></tr>
  </table>
  <app-paginator
    #paginator
    class="paginator"
    [length]="resultLength"
    [pageSize]="pageSize"
    (pageChange)="pageChange($event)"
    [hidden]="nodata"
  ></app-paginator>
</mat-card>
