.customerDetail {
  display: inline-block;
  margin: 5px;
  flex: 1;
  height: inherit;
}

.customerStatistics {
  display: inline-block;
  margin: 5px;
  flex: 1;
  height: inherit;
}

.orderHistory {
  display: block;
  margin: 5px;
  height: fit-content;
}

.customerContainer {
  display: flex;
  gap: 10px;
}

.noBullets {
  list-style-type: none;
  margin-left: 3px;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  strong {
    float: left;
  }

  li {
    display: flex;
    justify-content: space-between;
    border: 2px grey solid;
    padding: 6px;
    border-radius: 6px;
    width: 100%;
    margin: 5px;
  }
}

.orderHistoryTable {
  width: 100%;
}
