<div class="titlebar">
  <span>Sections/Tables</span>
  <!-- <button class="addCategory" mat-button (click)="openDialog()">Add Category</button> -->
</div>

<mat-card class="m-4 h-75">
  <mat-drawer-container class="w-100 h-100">
    <mat-drawer class="w-25" mode="side" opened>
      <div class="header">
        <h4 class="mt-2 ms-2">Sections</h4>
        <button mat-button class="border-2 me-4">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      section list to be displayed
      <ul *ngFor="let section of sections">
        <mat-icon>drag_indicator</mat-icon>
        <li></li>
      </ul>
    </mat-drawer>
    <mat-drawer-content>
      <div class="header">
        <h4 class="mt-2 ms-2">Tables</h4>
        <div class="headerEnd">
          <!-- search tables -->
          <input class="mt-3" mat-input placeholder="Search" />
          <button mat-button class="border-2">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button class="border-2">
            <mat-icon>add</mat-icon>
            <span class="ms-2">New Table</span>
          </button>
        </div>
      </div>
      <div class="tableBody">table data to be displayed</div>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-card>
