<mat-toolbar class="toolbar">
  <div (click)="navigate('dashboard')" class="clickable">
    <img class="logo" src="assets/logos/brandLogo.png">
  <span class="brandName">PizzaShop</span>
  </div>
  <div class="chipsAndProfile ">
    <mat-chip-list aria-label="Fish selection" class="chips">
      <mat-chip (click)="navigate('order/kot')" class="clickable"><mat-icon>assignment</mat-icon>KOT</mat-chip>
      <mat-chip (click)="navigate('order/waiting-list')" class="clickable"><mat-icon>access_time</mat-icon>Waiting List</mat-chip>
      <mat-chip (click)="navigate('order/tables')" class="clickable"><mat-icon>crop_square</mat-icon>Tables</mat-chip>
      <mat-chip (click)="navigate('order/menu')" class="clickable"><mat-icon>restaurant_menu</mat-icon>Menu</mat-chip>
      <mat-chip (click)="navigate('order/running')" class="clickable"><mat-icon>timer</mat-icon>Running Orders </mat-chip>

    </mat-chip-list>

    <div>
      <img class="userProfile clickable" src="assets/pfp.png" [matMenuTriggerFor]="menu">
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>My Profile</span>
      </button>
      <button mat-menu-item>
          <mat-icon>refresh</mat-icon>
          <span>Change Password</span>
      </button>
      <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
      </button>
  </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
