<div class="row-xs col-md-6 loginContainer">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">

        <div class="branding">
            <img class="brandLogo" [src]="brandLogo">
            <span class="brand">PIZZASHOP</span>
        </div>

        <h2 class="greeting">Welcome,</h2>
        <div class="inputContainer email">
            <!-- import input field from mui -->
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email">
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

        </div>
        <div class="inputContainer password">
            <!-- import input field from mui -->
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="linkSection">
            <div class="rememberMe">
                <input class="checkbox" type="checkbox"><span class="additionalText">Remember me</span>
            </div>
            <a routerLink="forgot-password">Forgot Password?</a>
        </div>
        <button type="submit" id="login" [disabled]="!loginForm.valid">
            Login
        </button>
    </form>

    <!-- alerts from ngx bootstrap -->
    <ngb-alert *ngIf="alertState" [type]="alerts.type" (closed)="close(alerts)">{{ alerts.message }}</ngb-alert>
</div>