<div class="titlebar">
  <span class="title">Taxes and fees</span>
  <div>
    <mat-form-field
      class="search"
      appearance="outline"
      (input)="searchTax(userSearch.value)"
    >
      <mat-label>Search</mat-label>
      <input class="" matInput placeholder="Search" #userSearch />
      <button
        *ngIf="userSearch.value"
        (click)="userSearch.value = ''; resetTableList()"
        matSuffix
        mat-icon-button
        aria-label="Clear"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-button class="border-2" (click)="addTax()">
      <mat-icon>add</mat-icon>
      <span class="ms-2">New Tax</span>
    </button>
  </div>
</div>

<mat-card class="m-4 matCardBody">
  <div *ngIf="nodata" class="noDataBanner">
    <h4>No Data Found</h4>
  </div>
  <table
    *ngIf="!nodata"
    mat-table
    [dataSource]="taxList"
    class="mat-elevation-z8 taxData"
  >
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let tax">{{ tax.name }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let tax">
        {{ tax.type === "flat_amount" ? "Flat Amount" : "Percentage" }}
      </td>
    </ng-container>

    <!-- Enabled Column -->
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell *matCellDef="let tax">
        <!--{{ tax.enabled }}-->
        <mat-slide-toggle
          checked="{{ tax.enabled ? true : false }}"
          (change)="toggleEnabledState(tax, !tax.enabled, 'enabled')"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Default Column -->
    <ng-container matColumnDef="default">
      <th mat-header-cell *matHeaderCellDef>Default</th>
      <td mat-cell *matCellDef="let tax">
        <!--{{ tax.default }}-->
        <mat-slide-toggle
          checked="{{ tax.default ? true : false }}"
          (change)="toggleEnabledState(tax, !tax.default, 'default')"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Tax Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Tax Amount</th>
      <td mat-cell *matCellDef="let tax">{{ tax.amount }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="actionIcon" mat-cell *matCellDef="let tax">
        <mat-icon (click)="editTax(tax)">edit</mat-icon>
        <mat-icon (click)="deleteTax(tax)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
