

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.mat-tab-body-wrapper {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-simple-snackbar {
  font-size: 1.1em;
  color: white;
  font-weight: 800;
  height: fit-content;
  line-height:1.3em;
}

.snackbar-error {
  background-color: rgb(194, 13, 13);
}

.snackbar-success {
  background-color: rgb(17, 106, 17);
}

.snackbar-info {
  background-color: #0c60a4;
}
