.menuCard {
  margin: 10px;
  height: 75vh;
}

.noItemBanner{
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 10px;
}

.itemsTab {
  display: flex;
  flex-direction: row;
}

.itemContent {
  display: inline;
}

mat-tab-body {
  height: 100%;
}
mat-tab-group {
  height: 100%;
}
mat-drawer-container {
  height: 100%;
}
mat-drawer {
  height: 100%;
}

.mat-tab-body-wrapper {
  height: 100%;
}

.items {
  display: flex;
  flex-direction: row;
  height: 100% !important;
}

ul {
  list-style-type: none;
}

app-category {
  height: 100%;
}

.itemsTab {
  display: flex;
  flex-direction: row;
}

.mat-elevation-z8 {
  width: 100%;
}

.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}

.menuCard {
  margin-left: 15px;
  margin-right: 15px;
  background-color: gray;
  border-radius: 3px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemsTabIcon {
  margin: 5px;
}
.tabName {
  display: flex;
  align-items: center;
}

.categoryList {
  width: 20%;
}

.menuContainer {
  height: 100%;
}
