<div class="titlebar">
  <span>Sections/Tables</span>
  <!-- <button class="addCategory" mat-button (click)="openDialog()">Add Category</button> -->
</div>

<mat-card class="m-4 h-75">
  <mat-drawer-container class="w-100 h-100">
    <mat-drawer class="w-25" mode="side" opened>
      <app-section
        (sectionId)="getTableDataBySection($event)"
        (getSectionList)="refreshSectionList($event)"
        [sectionsList]="sectionsList"
      ></app-section>
    </mat-drawer>
    <mat-drawer-content>
      <app-tables
        (getTableList)="refreshTableList($event)"
        [sectionsList]="sectionsList"
        [tablesList]="viewTables"
      ></app-tables>
    </mat-drawer-content>
  </mat-drawer-container>
</mat-card>
