.drawer {
  width: 300px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modifierGroupButton {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  margin: 12px;
  margin-left: auto;
  margin-right: auto;
}

.modifiersTable {
  width: 100%;
}

// dialogs styling

.dialogInput {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.actionButtonContainer {
  position: absolute;
  right: 12px;
  top: 18px;
}

.search {
  font-size: 16px;
  width: 400px;
  margin-right: 20px;
  padding-top: 15px;
}

.noDataBanner{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}