<div class="body">
  <div class="titlebar">
    <span class="title">Change Password</span>
  </div>
  <div>
    <form
      [formGroup]="passwordData"
      class="passwordForm"
    >
      <mat-form-field class="passwordInput" appearance="outline">
        <mat-label>Current Password</mat-label>
        <input
          matInput
          formControlName="currentPassword"
          required
          type="password"
        />
      </mat-form-field>

      <mat-form-field class="passwordInput" appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          required
          #newPassword
          type="password"
        />
      </mat-form-field>


      <mat-form-field class="passwordInput" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          required
          type="password"
        />
        <mat-error *ngIf="passwordData.get('confirmPassword')?.hasError('passwordMismatch')">
          New password and confirm password must match
        </mat-error>
      </mat-form-field>

      <div class="right">
        <button
          mat-stroked-button
          type="button"
          (click)="redirect('pizzashop/dashboard')"
        >
          Cancel
        </button>
        <button mat-flat-button color="accent" type="submit" [disabled]="!passwordData.valid" (click)="changePassword(passwordData.value)">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
