.titlebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  font-size: 30px;
  margin: 15px 15px 15px 15px;
}

.title {
  margin-left: 10px;
}

.body {
  width: 100%;
}

.passwordForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordInput {
  width: 80%;
}

.error {
  margin-left: 12px;
  text-wrap-mode: nowrap;
}
