<div class="container">
    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="newPasswordForm">

        <div class="branding">
            <img class="brandLogo" [src]="brandLogo">
            <span class="brand">PIZZASHOP</span>
        </div>

        <h2 class="greeting">Welcome,</h2>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'">
            <mat-error *ngIf="matchPassword()">Password doesn't match</mat-error>
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="actions">
            <button type="submit" id="submit" [disabled]="!forgotPassword.valid">
                Submit
            </button>
            <a (onClick)="redirect()" href="{{login}}">Back to Login</a>
        </div>
    </form>
</div>