<div class="row-xs col-md-6 container">
    <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="loginForm">

        <div class="branding">
            <img class="brandLogo" [src]="brandLogo">
            <span class="brand">PIZZASHOP</span>
        </div>

        <h2 class="greeting">Welcome,</h2>

        <div class="inputContainer">
            <input formControlName="email" placeholder="Email">
            <span class="emailError"></span>
        </div>

        <button type="submit" id="submit" [disabled]="!forgotPassword.valid">
            Submit
        </button>
        <a (onClick)="redirect()" href="{{login}}">Back to Login</a>
    </form>
</div>